body {
  min-width: 1024px !important;
  min-height: 570px !important;
}

#main-window {
  height: 100%;
  margin: 0;
}

#left-pannel {
  width: 220px;
  height: 100%;
  float: left;
  padding: 12px;
}

#center-pannel {
  float: left;
  width: calc(100% - 220px - 250px);
  height: 100%;
  padding: 12px;
}

#right-pannel {
  width: 250px;
  height: 100%;
  float: left;
  padding: 12px;
}

#burger-status {
  border: 1px solid grey;
  border-radius: 8px;
  min-height: 400px;
  margin-bottom: 0.5em;
  background-color: lightgrey;
}

#burger-control {
  padding: auto;
}

#patty-search-button {
  width: 100%;
  margin-bottom: 0.5em;
}

#patty-control-buttons button {
  width: 45%;
}

#data-palete {
  border: 1px solid grey;
  border-radius: 8px;
  height: 40%;
  margin-bottom: 12px;
}

#interaction-palete {
  border: 1px solid grey;
  border-radius: 8px;
  height: 50%;
}

.patty-explanation {
  width: 100%;
  height: 100%;
}
